@import "../css/common.css"
@import "../css/jquery.fancybox.css"
@import "../css/swiper.css"

@import "_vars.sss"
@import "_base.sss"
@import "_form-elements.sss"
@import "btns.sss"

@import "base-form.sss"
@import "my-select.sss"

@import "header.sss"
@import "footer.sss"


@import "top-banners.sss"
@import "main-catalog.sss"
@import "catalog/catalog.sss"

@import "main-news.sss"