<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Контакты
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__title
					.wrapper
						include /mixins/title-block.pug
						+titleBlock(["Главная", "Контакты"])
				.inner-content__content
					.wrapper
						.contacts-list
							.contacts-list__list
								- for (let i = 0; i < 3; i++)
									.contacts-list__list-item
										.cc-list
											.cc-list__item.cc-list__item--address
												.ccl-item
													.ccl-item__decor
														include ../img/ico-small-marker.svg
													.cc-list__item-label Адрес
													address.cc-list__item-content
														p г. Челябинск, ул. Лесопарковая, 8
													.ccl-item__map-link
														<!-- по клику скроллится к карте -->
														a(href="#map") Показать на карте
											.cc-list__item.cc-list__item--phone
												.ccl-item
													.ccl-item__decor
														include ../img/ico-c-phone.svg
													.cc-list__item-label Телефон
													address.cc-list__item-content
														p 
															a(href="tel:8 800 123 34 56") 8 800 123 34 56
											.cc-list__item.cc-list__item--email
												.ccl-item
													.ccl-item__decor
														include ../img/ico-c-mail.svg
													.cc-list__item-label E-mail
													address.cc-list__item-content
														p 
															a(href="mailto:runsell@gmail.com") runsell@gmail.com
											.cc-list__item.cc-list__item--time
												.ccl-item
													.ccl-item__decor
														include ../img/ico-time.svg
													.cc-list__item-label График работы
													time.cc-list__item-content
														p 09:00 - 23:00
							.contacts-list__map
								.c-map
									#map
										<!-- img/ico-marker.svg -->
										img(src="img/photos/contacts-map-big.jpg")
		include inc/footer.pug
		include inc/scripts.pug

