<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная - Runsell
		include inc/head.pug
		//- include inc/css.pug
		link(rel="stylesheet" href="css/main-runsell.css")
	body.main.loading
		header.head
			.wrapper
				.head__wrap
					.head__text 
						.h-text 
							h1 Создай свой интернет-магазин за 1 день
					.head__contacts
						.h-contacts
							.h-contacts__item
								.h-contacts__item-title Свяжитесь с нами
								address.h-contacts__item-content
									a(href="tel:89823644833") 8 982 364 48 33
							.h-contacts__item
								address.h-contacts__item-content
									a(href="mailto:hello@runsell.ru") hello@runsell.ru
					.head__btn
						a.default-btn(href="#") Презентация сервиса
						a.default-btn.default-btn--bordered(href="#") Демо версия сайта
						a.default-btn(href="#") Интеграция с Eshop
		main#content
			.wrapper
				.main-steps
					each step in ["Посмотреть демоверсию сайта demo.runsell.ru", "Узнать подробнее о runsell из презентации", "Оставить заявку по почте или телефону 8 982 364 48 33", "Получить логин и пароль для входа в личный кабинет", "Заполнить карточки товаров и информацию о себе", "Оплатить доступ к платформе", "Запустить рекламу и получать первые заказы", ]
						.main-steps__step
							.ms-step
								.ms-step__text=step
		footer.footer
			img(src="img/runsell-logo.svg")
		//- include inc/scripts.pug