<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Акции
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__title
					.wrapper
						include /mixins/title-block.pug
						+titleBlock(["Главная", "Акции"])
				.inner-content__content
					.wrapper
						.stocks-list
							- for (let i = 0; i < 12; i++)
								.stocks-list__item
									.stock
										a.stock__img(href="#")
											img(src="img/photos/news-list-img.png", alt="Поступление новой коллекции")
											.stock__img-date 08.05.2018
										.stock__desc
											a.stock__desc-title(href="#") Поступление новой коллекции
						include inc/paginator
		include inc/footer.pug
		include inc/scripts.pug